.mosaic {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 65vw;

  box-sizing: border-box;
  border: 1px solid white;

  @media (max-width: 1023px) {height: 89vw}
  @media (max-width: 767px) {height: 200vw}
  @media (max-width: 374px) {height: 800vw}

  img {
    width: calc(25vw - 2px);
    transform: translate(-1px, 0);
    border: 1px solid white;

    @media (max-width: 1023px) {width: calc(33.3vw - 2px)}
    @media (max-width: 767px) {width: calc(50vw - 2px)}
    @media (max-width: 374px) {width: calc(100vw - 2px)}
  }
}
