.mosaic {
  column-gap: 2px;
  padding: 2px;
  columns: 2;
  transform: translateZ(0);

  @media (min-width: 510px) {columns: 3;}
  @media (min-width: 768px) {columns: 4;}
  @media (min-width: 1440px) {columns: 6;}

  .mosaic-item {
    width: 100%;
    display: block;
    border-bottom: 2px solid transparent;
  }
}
